<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATS Resume Analyzer - Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fredoka:wght@600&family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div style="flex: 1;"></div>
        <div class="logo" style="font-weight: 800; font-size: 1.9rem;">
            ATSify
        </div>
        <div class="nav-right" style="flex: 1; display: flex; justify-content: flex-end;">
            <button class="theme-toggle">🌙</button>
        </div>
    </nav>
</header>

<main>
<section class="hero">

    <div class="hero-content">
        <h1>
            Build A Resume <br>
            That Gets Shortlisted
        </h1>
        <p>
            Compare your resume against any job description using
            NLP-powered analysis, ATS scoring and keyword matching.
            Get actionable recommendations to improve your chances
            of landing interviews.
        </p>
        <div class="hero-features">
            <span>ATS Score</span>
            <span>Keyword Analysis</span>
            <span>Skill Matching</span>
            <span>Recommendations</span>
        </div>
    </div>

    <!-- SIGNUP CARD -->
    <div class="auth-card">
        <h2>Create Account</h2>

        <form>
            <input
                type="text"
                placeholder="Username"
                required
            >

            <input
                type="email"
                placeholder="Email Address"
                required
            >

            <input
                type="password"
                placeholder="Password"
                required
            >

            <button
                type="submit"
                class="login-btn"
            >
                Sign Up
            </button>
        </form>

        <p class="signup-text">
            Already have an account?
            <a href="/">
                Login
            </a>
        </p>
    </div>

</section>
</main>

<footer>
    <div class="footer-content">
        <h3>Resume Analyzer</h3>
        <p>Contact: sanyaaaa28@gmail.com</p>
        <p>© 2026 Resume Analyzer. All Rights Reserved.</p>
    </div>
</footer>
<script src="/static/js/theme.js"></script>
</body>
</html>